/*header*/

body {
    background-color: aqua;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px auto;
    width: 960px;
}

header {
    height: 200px;
}

header img {
    float left;
}

h1 {
    text-align: center;
}

nav {
    float: right;

}

header button {
    display: inline-block;
}

/*main*/










